.modal-wrap{
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.15); 
  opacity: 0;
  z-index: 10;
  transition: opacity .3s;


  &.visible { opacity: 1;}

  & > #modal{
    top: -6vw;
    position: relative;
    margin-top: 2rem;
    width: 700px;
    min-height: 450px;
    height: fit-content;
    background-color: #fff;
    box-shadow: var(--box-shadow);
  }
}