$window-height: 450px;

.transition {
  transition: all .7s;
}

.displayNone{
  display: none !important;
}

.modal-wrap {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 0;
  z-index: 10;
  transition: opacity .3s;
  pointer-events: none;
  top: 0;

  &.visible {
    opacity: 1;
    pointer-events: initial;
  }

  &>#modal {
    top: -5vh;
    position: relative;
    margin-top: 2rem;
    width: 700px;
    min-height: $window-height;
    height: fit-content;
    background-color: #fff;
    box-shadow: var(--box-shadow);

    @include responsive(phone){
      width: 100%;
    }

    &>.window {
      align-items: center;
      position: relative;
      height: $window-height;
      overflow: hidden;
      }
    }


  // IMAGE CAROUSEL CONTROLLER

    i {
      font-size: 60px;
      position: absolute;
      opacity: .3;
      bottom: calc(50% - 30px);
      cursor: pointer;
      
      &.right {
        right: 0;
      }
      &.left {
        left: 0;
      }
      
      &.close {
        position: absolute;
        top: -1.5rem;
        right: .5rem;
        font-size: 30px;
        opacity: .5;
      }
    }
  

  .infos {
    position: relative;
  }

  // image project
  .carousel {
    position: relative;
    width: 10000px;
    left: -700px;
    top: 0;

    &>div{
      width: 700px;
      height: 450px;
      float:left;
      display: flex;
      flex-direction: column;

      @include responsive(phone){
        width: 100%;
      }

      &.red{ background-color: red; }
      &.green{ background-color: greenyellow; }
      &.blue{ background-color: blue; }
    }
  }

  // Project info
  & .infos {

    & h6,
    & p {
      margin-bottom: 1rem;
    }

    & .links{
      gap: 1rem;
    }

    &>.box {
      margin: 2rem 1rem 2.8rem 1rem;
    }
  }
}