@mixin portfolio-items {
    &>div:nth-last-child(6){ background: url('../images/portfolio/home/home-Itauna01.jpg') center center/cover;}
    &>div:nth-last-child(5){ background: url('../images/portfolio/home/home-jagrao2.jpg') center center/cover;}
    &>div:nth-last-child(4){ background: url('../images/portfolio/home/home-maua.jpg') center center/cover;}
    &>div:nth-last-child(3){ background: url('../images/portfolio/home/home-rivieras.jpg') center center/cover;}
    &>div:nth-last-child(2){ background: url('../images/portfolio/home/emktfactual.jpg') center center/cover;}
    &>div:nth-last-child(1){ background: url('../images/portfolio/home/home-jagrao.jpg') center center/cover;}
}