section{ 
 height: 100vh;

 &:nth-child(2n){
  background-color: red;
 }
}
div[data-spy="scroll"]{
 position: relative;

  & div{
   height: 100vh;
  }
}
main{
 position: relative;
}

a:active{
 color: red;
}

header{
 position: absolute;
}